{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ver_tickets.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    
    <title>ConcertBy</title>
</head>
<body>
    {% include 'navbar.html' %}
    <!-- <section class="signup-section" id="signup">

    </section> -->
    <section class="signup-section" id="signup">
        <div class="container">
            <h1>Tickets adquiridos</h1>
            <div class="row">
                {% for id, concierto__nombre, concierto__fecha_concierto, concierto__ubicacion,concierto__artista__nombre in tickets %}
                    <article class="card fl-left">
                        <section class="date">
                            <time datetime="{{concierto__fecha_concierto |date:'d M'}}">
                                <span>{{concierto__fecha_concierto |date:'d'}}</span><span>{{concierto__fecha_concierto |date:'b'}}</span>
                            </time>
                        </section>
                        <section class="card-cont">
                            <small>{{concierto__artista__nombre}}</small>
                            <h3>{{concierto__nombre}}</h3>
                            <div class="even-date">
                                
                                <time>
                                    <span> {{ concierto__fecha_concierto|date:"l d F Y" }}</span>
                                    <span> {{ concierto__fecha_concierto|time:"h:iA" }} to 12:00 am</span>
                                </time>
                            </div>
                            <div class="even-info">
                                
                                <p>
                                    {{concierto__ubicacion}}
                                </p>
                            </div>
                            <button  class="button-tickets" id="button-{{id}}" onclick="cancelar(this.id)" style="background-color: red !important;">cancelar</button>
                        </section>
                    </article>
                    {% if forloop.counter|divisibleby:2 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        function cancelar(path){
            var ruta = path.split('-');
            var url = "http://localhost:8000/getInfoTicketById";
            $.ajax({
                url: url,
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    id_ticket: path[path.length-1]
                },
                success: function(response) {
                    if(response.error){
                        toastr.warning(response.error)
                        setTimeout(function(){
                            window.location.href = 'http://localhost:8000/';
                        },2000);
                    }else{
                        toastr.success(response.message)
                        setTimeout(function(){
                            window.location.href = 'http://localhost:8000/listadoTickets';
                        },2000)
                    }
                },
                error: function(xhr, errmsg, err) {
                    toastr.err(errmsg);
                    // Manejar los errores de la solicitud AJAX
                }
            });
        }
    </script>
</body>
</html>